.faq {
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    @include breakpoint(extra-small) {
        padding-top: 40px;
    }
    .position-tabs {
        padding-top: 60px;
        @include breakpoint(extra-small) {
            padding-top: 20px;
        }
        ul {
            width: 444px;
            margin: auto;
            padding-top: 0;
            padding-bottom: 30px;
            border: none;
            @include breakpoint(small) {
                padding-bottom: 52px;
            }
            @include breakpoint(extra-small) {
                width: 113px;
                padding-bottom: 32px;
                text-align: center;
            }
            li {
                margin-right: 71px;
                @include breakpoint(extra-small) {
                    float: none;
                    margin-top: 10px;
                    margin-right: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    margin: 0;
                    padding: 0;
                    border: none;
                    font-size: 24px;
                    font-weight: 300;
                    text-decoration: underline;
                    color: #000000;
                    &:hover {
                        background-color: transparent;
                        color: #ffa162;
                    }
                    @include breakpoint(extra-small) {
                        font-size: 20px;
                    }
                }
            }
            .active {
                a {
                    border: none;
                    color: #ffa162;
                }
            }
        }
        .tab-pane {
            .answered {
                &:first-child {
                    margin-top: 51px;
                }
                &:last-child {
                    margin-top: 29px;
                }
                @include breakpoint(small) {
                    margin-top: 20px;
                }
                @include breakpoint(extra-small) {
                    margin-top: 20px;
                }
                p {
                    font-size: 22px;
                    @include breakpoint(extra-small) {
                        font-size: 18px;
                    }
                    &.text-question {
                        margin-bottom: 0;
                        font-weight: 400;
                        line-height: 37px;
                        color: #ffa162;
                    }
                    &.text-answer {
                        margin-top: 7px;
                        margin-bottom: 0;
                        font-weight: 300;
                        line-height: 47px;
                    }
                }
            }
        }
    }
}