footer {
    padding-top: 100px;
    padding-bottom: 87px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    @include breakpoint(small) {
        padding-top: 90px;
        padding-bottom: 60px;
    }
    @include breakpoint(extra-small) {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    h3 {
        margin: 0;
        font-size: 56px;
        font-weight: 400;
        @include breakpoint(extra-small) {
            font-size: 30px;
        }
    }
    ul {
        margin: 0;
        padding: 98px 0 109px;
        font-size: 0;
        @include breakpoint(small) {
            padding: 60px 0 70px;
        }
        @include breakpoint(extra-small) {
            padding: 40px 0 50px;
        }
        li {
            display: inline-block;
            margin-right: 78px;
            @include breakpoint(extra-small) {
                margin-right: 30px;
            }
            a {
                display: inline-block;
                @include transition-property(all);
                @include transition-duration(400ms);
                &:hover {
                    @include opacity(0.7);
                }
                &:active {
                    @include opacity(0.8);
                }
            }
            &.facebook {
                a {
                    width: 20px;
                    height: 38px;
                    @extend .social-fc;
                }
            }
            &.instagram {
                a {
                    width: 35px;
                    height: 35px;
                    @extend .social-instagram;
                }
            }
            &.pinterest {
                a {
                    width: 32px;
                    height: 41px;
                    @extend .social-pinterest;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #333333;
        @include breakpoint(extra-small) {
            font-size: 14px;
        }
    }
}