.modal {
    font-family: 'Open Sans', sans-serif;
    .modal-header {
        border: none;
        padding: 0;

        button.close {
            float: right;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
            }
            &:active {
                outline: none;
            }
            span {
                font-size: 20px;
            }
        }
    }
    .modal-content {
        @include border-radius(0px);
    }
}
