input[type=number] {
	width: 50px;
	height: 33px;
	border: none;
	outline: none;
	margin-right: 10px;
	padding: 0;
	font-size: 33px;
	font-weight: 300;
	text-align: center;
	color: #000000;
	@include appearance(textfield);
	@include spin-button {
		display: none;
	    margin: 0;
	    @include appearance(none);
	}
	@include placeholder {
		padding: 0;
		margin: 0;
		font-weight: 300;
		font-size: 45px;
		color: #000000;
	}
	&:focus {
		font-size: 33px;
		@include placeholder {
			font-size: 0;
			color: transparent;
		}
		@include transition-duration (400ms);
	}
	&:active {
		@include placeholder {
			color: transparent;
		}
	}
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}*/
/*input[type=number] {
    -moz-appearance:textfield;
}*/
input[type=email] {
	display: block;
	width: 260px;
	height: 40px;
	margin: auto;
	padding-left: 10px;
	background-color: #ffffff;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	color: #555353;
	@include user-select(none);
	@include placeholder {
		font-weight: 300;
		font-size: 16px;
		color: #555353;
	}
	&:focus {
		padding-left: 10px;
		font-size: 16px;
		font-weight: 400;
		color: #555353;
		@include placeholder {
			color: transparent;
		}
		@include transition-duration (400ms);
	}
}