input[type=number] {
	width: 50px;
	border: none;
	outline: none;
	margin-right: 10px;
	padding: 0;
	font-size: 47px;
	font-weight: 300;
	text-align: center;
	color: #000000;
	@include appearance(textfield);
	@include transition-duration (400ms);
	@include spin-button {
		display: none;
	    margin: 0;
	    @include appearance(none);
	}
	@include breakpoint(midle) {
		margin-right: 5px;
	}
	@include breakpoint(extra-xs-small) {
		margin-right: 5px;
	}
}
input[type=email] {
	display: block;
	width: 260px;
	height: 40px;
	margin: auto;
	padding-left: 10px;
	background-color: #ffffff;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	color: #555353;
	@include user-select(none);
	@include placeholder {
		font-weight: 300;
		font-size: 16px;
		color: #555353;
	}
	&:focus {
		padding-left: 10px;
		font-size: 16px;
		font-weight: 400;
		color: #555353;
		@include placeholder {
			color: transparent;
		}
		@include transition-duration (400ms);
	}
}