body {
    h2 {
        margin: 0;
        font-size: 54px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint(extra-small) {
            font-size: 36px;
        }
    }

    a {
        color: #ff7800;
        @include user-select(none);
        @include transition-property(color);
        @include transition-duration(400ms);

        &:focus {
            outline: none;
            border: none;
            color: #ff7800;
        }

        &:hover {
            color: lighten(#ff7800, 20%);
        }
    }
}