.advertising {
	padding-top: 122px;
	background-image: url(../../../client/images/advertising/background-table.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	@include breakpoint(small) {
		padding-top: 112px;
	}
	@include breakpoint(extra-xs-small) {
		padding-top: 80px;
	}
	img {
		width: 750px;
		padding-top: 42px;
		@include breakpoint(small) {
			width: 600px
		}
		@include breakpoint(extra-xs-small) {
			width: 300px;
		}
	}
	h1 {
		margin: 0;
		padding-top: 55px;
		padding-bottom: 34px;
		font-size: 61px;
		font-weight: 400;
		@include breakpoint(extra-xs-small) {
			padding-top: 30px;
			padding-bottom: 14px;
			font-size: 30px;
		}
	}
	p {
		margin: 0;
		font-size: 27px;
		font-weight: 300;
		@include breakpoint(extra-xs-small) {
			font-size: 18px;
		}
	}
	.button-discount {
		width: 300px;
		margin-top: 60px;
		margin-bottom: 122px;
		padding: 0;
		background-color: #ff7800;
		font-family: 'Roboto', sans-serif;
		font-size: 27px;
		font-weight: 400;
		line-height: 80px;
		text-transform: uppercase;
		@include border-radius(0);
		@include breakpoint(extra-xs-small) {
			width: 200px;
			margin-top: 30px;
			margin-bottom: 70px;
			font-size: 18px;
			line-height: 50px;
		}
		&:focus {
			border: none;
			outline: none;
		}
	}
	.modal-sm-content {
		@include border-radius(0px);
		.modal-sm-header {
			border: none;
			button {
				float: right;
				border: none;
				background-color: transparent;
				span {
					font-size: 20px;
				}
			}
		}
	}
	form {
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: 'Open Sans', sans-serif;

		input {
			display: block;
			width: 260px;
			height: 40px;
			margin: auto;
			padding-left: 10px;
			background-color: #fff;
			outline: none;
			font-weight: 400;
			font-size: 16px;
			color: #555353;
			@include user-select(none);
			@include placeholder {
				font-weight: 300;
				font-size: 16px;
				color: #555353;
			}
			&:focus {
				padding-left: 10px;
				font-size: 16px;
				font-weight: 400;
				color: #555353;
				@include placeholder {
					color: transparent;
				}
				@include transition-duration (400ms);
			}
		}
		button {
			width: 180px;
			height: 40px;
			margin-top: 20px;
			background-color: #ff7800;
			border: none;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			color:#ffffff;
			@include user-select(none);
		}
	}
}