.advertising {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	h2 {
		margin: 0;
		font-size: 61px;
		font-weight: 400;
	}
	p {
		margin: 0;
		font-size: 27px;
		font-weight: 300;
	}
	a {
		font-family: 'Roboto', sans-serif;
		font-size: 27px;
		font-weight: 400;
		text-transform: uppercase;
	}
}