.comments {
    padding-top: 58px;
    padding-bottom: 58px;
    background-image: url(../../../client/images/comments/background.png);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    @include breakpoint(small) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include breakpoint(extra-small) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .style-bgc {
        padding-top: 52px;
        padding-bottom: 6px;
        background-color: #ffffff;
        @include breakpoint(small) {
            padding-top: 32px;
        }
        @include breakpoint(extra-small) {
            padding-top: 32px;
            padding-bottom: 0px;
        }
        h2 {
            margin-top: 0;
            margin-bottom: 67px;
            @include breakpoint(small) {
                font-size: 60px;
                margin-bottom: 33px;
            }
            @include breakpoint(extra-small) {
                font-size: 31px;
                margin-bottom: 33px;
            }
        }
        .icon-stars {
            display: inline-block;
            width: 160px;
            height: 31px;
            margin-left: 5%;
            margin-bottom: 18px;
            background-image: url(../../../client/images/comments/star.png);
            background-repeat: repeat-x;
        }
        .comment {
            margin: 0 5%;
            font-size: 22px;
            font-weight: 300;
            line-height: 35px;
            @include breakpoint(extra-small) {
                font-size: 18px;
            }
        }
        .author {
            margin-top: 26px;
            margin-right: 5%;
            margin-bottom: 82px;
            font-size: 18px;
            font-weight: 300;
            font-style: italic;
            text-align: right;
            color: #6e6e6e;
            @include breakpoint(middle) {
                padding-top: 10px;
            }
            @include breakpoint(extra-middle) {
                padding-top: 10px;
            }
            @include breakpoint(small) {
                padding-top: 10px;
                padding-bottom: 60px;
            }
            @include breakpoint(extra-small) {
                padding-top: 10px;
                padding-bottom: 40px;
            }
        }
    }
}