.contact-us {
    .modal-body {
        form {
            padding-bottom: 20px;
            input {
                margin: auto;
            }
            .button-middle {
                margin-top: 20px;
            }
        }
    }
}
